@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-areas: "header" "navigation" "content" "sidebar" "footer";
}

.header {
  grid-area: header;
}

.navigation {
  grid-area: navigation;
}

.main {
  grid-area: content;
  min-height: 100vh;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  .app {
    grid-template-areas: "header header header" "navigation content sidebar" "navigation content sidebar" "footer footer footer";
  }
}
